[submodule "bin/assets/gui"]
	path = bin/assets/gui
	url = https://github.com/Milerius/GUISpace.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
